{
  "indent": [
    "warn",
    2,
    {
      "ignoredNodes": ["ConditionalExpression"],
      "flatTernaryExpressions": true,
      "VariableDeclarator": 2,
      "ImportDeclaration": 1,
      "ignoreComments": true
    }
  ],
  "object-curly-spacing": ["warn", "always"],
  "array-bracket-spacing": ["warn", "always"],
  "template-curly-spacing": ["warn", "always"],
  "quotes": [
    "warn",
    "double",
    {
      "avoidEscape": true
    },
    {
      "allowTemplateLiterals": true
    }
  ],
  "comma-dangle": ["warn", "never"],
  "arrow-spacing": [
    "warn",
    {
      "before": true,
      "after": true
    }
  ],
  "padded-blocks": "warn",
  "no-use-before-define": [
    "warn",
    {
      "functions": true,
      "classes": true,
      "variables": true,
      "allowNamedExports": false
    }
  ],
  "semi": false,
  "prefer-const": [
    "error",
    {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }
  ],
  "no-case-declarations": [1],
  "no-shadow": [
    "error",
    {
      "hoist": "functions"
    }
  ],
  "camelcase": [
    "error",
    {
      "properties": "always",
      "ignoreDestructuring": true,
      "ignoreImports": true,
      "ignoreGlobals": false
    }
  ],
  "no-lonely-if": "error"
}
