@import './variables';
@import './mixins';

.buy-font-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "DIV-1 DIV-2 ."
    "DIV-1 DIV-3 ."
    ". . .";

  @include tag-container-size;

  // height: 25rem;
  // width: 50rem;


  // styles for just first/big section

  > :nth-child(1) {
    grid-area: DIV-1;

    .font-wrapper {
      &__font-section {

        justify-content: center;

        &__input-wrapper {
          &__square {
            width: calc($square-size-smalls-sections + 3rem);
            height: calc($square-size-smalls-sections + 3rem);
            &__color {
              p {

                @include inner-abbr-size;

              }
            }
          }
          &__input {
            padding-top: 1.2rem;
            width: 23rem;
            display: flex;
            label {
              padding-left: 0.5rem;
              font-size: 2rem;
            }
          }
        }
      }
    }

  };

  > :nth-child(2) {
    grid-area: DIV-2;
  };

  > :nth-child(3) {
    grid-area: DIV-3;
  };

  > :nth-child(2), :nth-child(3) {
    .font-wrapper {
      &__font-section {
        &__input-wrapper {
          display: flex;
          align-items: flex-start;
          &__square {
            width: $square-size-smalls-sections;
            height: $square-size-smalls-sections;
            &__color {
              p {
                @include inner-abbr-size;
              }
            }
          }
          &__input {
            width: calc(100% - 8rem);
            padding:1.2rem 0 0 2rem;
            display: flex;
            label {
              padding-left: 0.5rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  // Styles shared for squares

  .font-wrapper {

    &__font-section {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      &__input-wrapper {

        &__square {
          padding: 0.3rem;
          border: 0.15rem solid black;
          border-radius: $square-border-radius;
          display: flex;
          justify-content: center;
          align-items: center;
          &__color {
            align-items: flex-end;
            border-radius: $square-border-radius;
            display: flex;
            height: 100%;
            padding: 0.7rem;
            width: 100%;

            p {
              color: black;
              opacity: 45%;
            }

          }
        }
      }
    }
  }

}



