@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,100&display=swap');


.main {
  width: 65rem;
  &__navbar {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    &__sentence-title {
      font-size: 3rem;
      font-weight: 900;
    }
    &__tags-container {
      display: flex;
      justify-content: space-between;
      width: 12rem;
      button {
        border: unset;
        cursor: pointer;
        // font-family: mon;
        font-weight: 900;
        background: unset;
      }
    }
  }
  &__body {
    border: 3px solid rgb(167, 203, 226);
    border-radius: 1rem;
    padding:1rem;
  }
}