.main {
  width: 65rem;
  &__navbar {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &__sentence-title {
      font-size: 3rem;
      font-weight: 900;
    }
    &__tags-container {
      display: flex;
      justify-content: space-between;
      width: 12rem;
      p {
        font-weight: 900;
        cursor: pointer;
      }
    }
  }
  &__body {
    border: 3px solid rgb(167, 203, 226);
    border-radius: 1rem;
    padding:1rem;
  }
}